# Enable progress output
progress=true

# Always install optional dependencies
optional=true

# More detailed error reporting
loglevel=info

# Fallback for esbuild
legacy-peer-deps=true

# Ensure network requests don't time out
network-timeout=300000

# Allow esbuild to install its binary
ignore-scripts=false